<div class="form-group">

    <%= form.label :start_date, "Check In" %>
    <input class="datepicker" type="text" data-provide='datepicker' name="reservation[start_date]" required >
    
    <%= form.label :end_date, "Check Out" %>   
    <input class="datepicker" type="text" data-provide='datepicker' name="reservation[end_date]" required >
    
    <%= form.submit "Submit" %>
</div>





