    
.btn-custom {

    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #484848;
    border: 1px solid #dce0e0 !important;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
   
}